@media screen and (min-width: 480px){
    .bigShip img {
        margin-left: 7em;
    }
}

body{
    background-color: black;
    color: #FFE81F;
}

header {
    text-align: center;
}

img {
    display: inline-block;
    width: 14em;
    margin-left: 0.45em;
    margin-right: auto;
    padding-bottom: 0.3em;
}

#info {
    text-align: center;
}

#squadron{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tab {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tab p {
    flex: 0 0 100%;
    text-align: left;
    font-size: 2em;
    margin-top: 16px;
    margin-bottom: 16px;
}

.ship {
    font-size: 1.0em;
    margin-top: 6px;
    padding-left: 3em;
    padding-right: 3em;
    padding-bottom: 2em;
}

.ship button{
    display: block;
    width: 14em;
    margin-left: 2em;
    margin-right: 2em;
}

.ship p{
    font-size: 1em;
    text-align: center; 
}

.bigShip {
    font-size: 1.0em;
    margin-top: 6px;
    padding-left: 3em;
    padding-right: 3em;
    padding-bottom: 2em;
}

.bigShip button{
    width: 14em;
    margin-left: 2em;
    margin-right: 2em;
}

.bigShip p{
    font-size: 1em;
    text-align: center; 
}

.bigShip button {
    display: block;
    margin-left: 10em;
    margin-right: 10em;
}

.bigShip img {
    display: inline-block;
}